.rodape{
    font: optional;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    padding-bottom: 500px;
}
.texto1{
    font: optional;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
    font-weight: 100;
    font-size: 1.4rem;
}
p{
    color: black;
}
.paragraph{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: 150;
    background-color: #38333300;
    padding: 5px;


}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    background-color: #333;
    color: aqua;
    padding: 15px solid aqua;
}
#exclusive-title{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: aqua;
}
/* Ordem das regras_Terça-feira_D'noite,29/09/2026 */
h3{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 3px solid blue;
}
#algum_titulo{
    border-bottom: 4px solid green;
}
/* nome de cores  */
.color-name{
    color: rgb(212, 83, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    font-size:  45px;
}
/* Hex */
.hex{
    color: #55a398;
}
.hex-2{
    color: #2e1ccf;

}
/* Aprofundando com hex */
.simple-hex{
  color: #333;
}
.simple-hex-2{
  color: #a5f;
}
/* RGB */
.rgb{
  color: rgb(255, 0, 0);  
}
.mixed-rgb{
    color: rgb(199,  21, 47);
}
/* RGBA */
.rgba {
    color:rgba(100, 199, 45);
}
/* hsl */
.hsl{
 color: hsl(201, 45%, 75%);
}
.hsl_1{
 color: hsl(100, 20%, 50%);
}
/* background */
.bg{
    background-color: #55a398;
    color: #2e1ccf;
}
.bg-2{
    background-color: #2e1ccf;
    color: #55a398;
}
/* background opacity */
.bg-opacity{
    background-color: green;
    opacity: 0.2;
    color: #000;
}
.bg-opacity_2{
    background-color: #999;
    opacity: 1.8;
    color: #000;
}
 /* <!-- Segunda-feira_D'Noite,05/10/2026 -->
  <!-- rgba com opacidade --> */
  .rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
  }
  /* bg-image */
  .bg-image{
    background-image: url("../imgs/index.png");
    padding: 10px;
    color: azure;
  }
  /* Centralizando bg image */
  .not-centered-bg,
  .centered-bg{
    height: 400px;
    height: 800px;
    background-image: url("../imgs/index2.png");
  }
  .centered-bg{ 
    background-position: center;
  }
  /* <!-- Terça-feira_D'noite, 06/10 -->
 <!-- 22ª Largura e Altura --> */
 .height-width{
    height: 200px;
    width: 200px;
    background-color: #2e1ccf;
    color: aquamarine;
 }
  .height-width_2{
    padding-right: 10px;
    height: 180px;
    width: 1000%;
    background-color: #3ee60b;
    color: rgb(23, 24, 24);
 }
 /* <!-- 23ª padding --> */
 
 .without-padding,
 .padding {
    background-color: #111;
    color: aliceblue;
 } 
 .padding{
    background-color: #333;
    padding: 20px;
 } 
  /* <!-- 24ª Lados individuais  -->
   <!-- Quarta-feira_D'Noite, 07/10/2026 --> */
   .padding-individual{
    background-color: #2e1ccf;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
   }
   /* shorthand padding */
   .sorthand-padding{
     background-color: #444;
     padding: 6px 12px 18px 24px;
     color: aliceblue;
   }
  .sorthand-padding2{
     background-color: #444;
     padding: 10px 20px;
     color: aliceblue;
   }
